/* Item section */
.item{
  min-height:155px;
  height: 300px;
  font-size: 1.2rem;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-bottom: 7%;
}
.item img{
  width: 150px;
  margin-right: 2rem;
}
.item h3{
  font-size: 32px;
  text-align: start;
  margin-bottom: 15px;
}
.item p{
  font-size: 2rem;
  text-align: start;
  margin-bottom: 30px;
}
.item a{
  font-size: 1.7rem;
  font-family: sans-serif;
  justify-self: end;
  color: var(--color-active);
}
.info_wrapper{
  width: 100%;
}

@media only screen and (max-width: 870px) {
  .item{
    height: 250px;
    min-width: auto;
    width: auto;
    padding: 0;
    margin-bottom: 48px;
  }
  .item h3{
    font-size: 20px;
  }
  .item p{
    font-size: 1.2rem;
  }
  .item img{
    width: 90px;
  }
}

