/* Item section */
.item{
  min-height:155px;
  height: 300px;
  font-size: 1.2rem;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-bottom: 48px;
}
.item img{
  width: 80px;
  margin-right: 2rem;
}
.item h3{
  font-size: 26px;
  text-align: start;
  margin-bottom: 15px;
}
.item p{
  font-size: 1.5rem;
  text-align: start;
  margin-bottom: 30px;
}
.item a{
  font-size: 1.3rem;
  font-family: sans-serif;
  justify-self: end;
  color: var(--color-active);
}